---
layout: layouts/home.njk
permalink: /posts/
title: Everything So Far...
---

<h2>Thank You For Being Here.</h2>

<img src="{{ '/img/nz-bio2_0.jpg'| url }}" alt="Hehe">
<br>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
