---
title: Caught You! 🙌🏻 Nancy Being Silly Booooo 👻
layout: layouts/home.njk
description: Home page of this silly blog :)
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<p>
This is my personal blog site.
Doubt if anyone will read everything.
Quote from my tennis coach "one shows all his insecurities on court."
I do do that. And I do it here as well.
</p>


<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>
